# ===== Java =====
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

# ===== Maven =====
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.ipr
*.iws
out/

# ===== VS Code =====
.vscode/
*.code-workspace

# ===== OS / System files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Project-specific =====
ecommerce/target/
smart_office/target/

.idea/
.smart_office/.idea/
.ecommerce/.idea/